body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

header{
    background: #111;
    color: white;
    padding: 20px;
}

.products{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px;
    flex-wrap: wrap;
}

.card img{

 border-radius: 10px;
}
.btn{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #ff9900;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.btn:hover{
    background: #e68a00;
}
footer{
    margin-top: 50px;
    padding: 20px;
    background: #111;
    color:white;
}


